<html>
    <head>
    <meta charset="utf-8">

    <title>SchoolElo</title>
    <link rel="icon" type="image/png" href="assets/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
      <div class="container">
        <div class="text-center my-5">
            <img class="img-fluid" src="assets/favicon.png">
            <h1>SchoolElo</h1>
            <h4>Crowdsourced College Rankings</h4>
            <button type="button" id="open" class="btn btn-red" data-toggle="modal" data-target="#exampleModalCenter">
  New Match
</button>
        </div>

        <div id="table" class="my-5">
            <div class="text-right">Rankings refresh every half-minute / Charts update every 100 matches</div>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Elo</th>
                    <th scope="col">Chart</th>
                    <th scope="col">Share</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each school}}
                        <tr>
                        <th scope="row">{{this.rank}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.elo}}</td>
                        <td>
                            <svg viewBox="0 0 100 50" class="chart">
                                <polyline
                                    fill="none"
                                    stroke="#242124"
                                    stroke-width="3"
                                    stroke-linejoin="round"
                                    points={{{this.history}}}
                                />
                            </svg>
                        </td>
                        <td><a target="_blank" href="https://twitter.com/intent/tweet?text={{{this.name}}}%20is%20%23{{{this.rank}}}%20on%20https://SchoolElo.com!" class="hov">Tw</a>|<a href="https://www.facebook.com/dialog/feed?app_id=1988357738077794&link=https://SchoolElo.com" target="_blank" class="hov">Fb</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>


        </div>

        <hr/>

        <div class="my-5" id="faq">
            <h2>FAQ.</h2>
            <div class="faq-item">
                <h3>How does it work?</h3>
                <p>SchoolElo uses the <a href="https://en.wikipedia.org/wiki/Elo_rating_system" class="hov">Elo rating system</a> to produce these rankings. When you click on the 'new match' button above, two colleges are chosen at random and presented head-to-head. After you select the winner (or declare a tie!), both school's elo ratings are recalculated. As hundreds of games are played, relatively clear rankings should hopefully emerge.
                </p>
            </div>

            <div class="faq-item">
                <h3>How did you decide which schools to include?</h3>
                <p>Simple: I took the top forty universities and the top ten liberal arts colleges from the US News rankings. Although this probably means that some good schools weren't included, it was a decent arbitrary cutoff: all of the schools generally considered "top" are on our list (ivies, MIT, Stanford, top public universities, etc.) Apologies if your favorite school isn't on the list!
                </p>
            </div>

            <div class="faq-item">
                <h3>Is this a good indicator of a school's quality?</h3>
                <p>Absolutely not. For two main reasons:

1. The results are produced by direct comparisons of two schools, which is not at all representative of how a college should be judged.

2. These rankings are generated entirely based off user's responses, so in the best case they can be thought of as a decent approximation of a school's 'prestige rating'. Realistically, the results are bound to be skewed by some bias in the sample of whoever actually visits the site, and will not be of use at all.

Either way, it's all just for fun... so don't worry too much about the results; they don't really mean anything! (However, if you think the rankings are inaccurate, your best bet is to spam the new match button above and make your opinion count! 🤠)
                </p>
            </div>
        </div>

      <footer class="text-center">

          © 🐱‍👤 Katz 2019

      </footer>

      </div>

        <!-- modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Choose the school you'd rather attend:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row my-3">
                        <div class="col-6 text-center"><h3 class="hov sub" id="school1" val="1" data-dismiss="modal"></h3></div>
                        <div class="col-6 text-center"><h3 class="hov sub" id="school2" val="0" data-dismiss="modal"></h3></div>
                    </div>
                    <div class="text-center hov sub" id="tie" val="0.5" data-dismiss="modal">
                        It's a tie!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

  </body>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/main.js"></script>

</html>